telnet/bin/Debug/telnet.exe
telnet/bin/Debug/telnet.exe.config
telnet/obj/Debug/MainWindow.baml
telnet/obj/Debug/MainWindow.g.cs
telnet/obj/Debug/MainWindow.g.i.cs
telnet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
telnet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
telnet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
telnet/obj/Debug/telnet.csproj.GenerateResource.Cache
telnet/obj/Debug/telnet.csprojResolveAssemblyReference.cache
telnet/obj/Debug/telnet.exe
telnet/obj/Debug/telnet.g.resources
telnet/obj/Debug/telnet.pdb
telnet/obj/Debug/telnet.Properties.Resources.resources
telnet/obj/Debug/telnet_MarkupCompile.cache
telnet/obj/Debug/telnet_MarkupCompile.i.cache
telnet/obj/Debug/telnet_MarkupCompile.lref
telnet/bin/Debug/telnet.pdb
telnet/bin/Debug/telnet.vshost.exe
telnet/bin/Debug/telnet.vshost.exe.config
telnet/bin/Debug/telnet.vshost.exe.manifest
telnet/obj/Debug/App.g.cs
telnet/obj/Debug/App.g.i.cs
telnet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
telnet/obj/Debug/telnet.csproj.FileListAbsolute.txt
